@keyframes spin-slow {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-fast {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0) translateX(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) translateX(50px);
        opacity: 0;
    }
}

@keyframes progress {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(400%);
    }
}

.animate-spin-slow {
    animation: spin-slow 3s linear infinite;
}

.animate-spin-fast {
    animation: spin-fast 1.5s linear infinite;
}

.animate-float {
    animation: float linear infinite;
}

.animate-progress {
    animation: progress 2s ease-in-out infinite;
}

.animation-delay-1000 {
    animation-delay: 1s;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

